@if (currentConditionsByZip(); as conditions) {
@if (conditions.length) {
<app-tabs>
  @for (condition of conditions; track $index) {
  <app-tab [title]="getTitle(condition)" (closeTab)="locationService.removeLocation(condition.zip)">
    <app-current-condition-item [condition]="condition"
      [icon]="weatherService.getWeatherIcon(condition.data.weather[0].id)"
      [iconAlt]="condition.data.weather[0].description" />
  </app-tab>
  }
</app-tabs>
} @else {
<p>No location added yet :)</p>
}
}
