<form class="well" (ngSubmit)="addLocation()">
  <h2>Enter a zipcode:</h2>
  <input required type="text" [(ngModel)]="zipcode" name="zipcode" placeholder="Zipcode" class="form-control">
  <br>
  <button class="btn btn-primary">
    Add location
  </button>
</form>
