:host {
  --border-color: #052846;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;

  li {
    border: 1px solid var(--border-color);
    border-bottom-width: 0;
    background-color: gray;
    color: white;
    padding: 0.5rem;

    &.active-tab {
      background-color: #337ab7;
    }

    button {
      background: none;
      border: none;
    }
  }
}

.tab-content {
  border: 1px solid var(--border-color);
  padding: 1rem;
}
