<ul>
  @for (tab of tabs; track $index) {
  <li [class.active-tab]="tab.active()">
    <button (click)="selectTab(tab)">{{ tab.title }}</button>
    <button (click)="tab.closeTab.emit()">&times;</button>
  </li>
  }
</ul>

<div class="tab-content">
  <ng-content />
</div>
