<div>
  <h3>{{condition.data.name}} ({{condition.zip}})</h3>
  <h4>Current conditions: {{condition.data.weather[0].main}}</h4>
  <h4>Temperatures today:</h4>
  <p>
    Current {{condition.data.main.temp | number:'.0-0'}}
    - Max {{condition.data.main.temp_max | number:'.0-0'}}
    - Min {{condition.data.main.temp_min | number:'.0-0'}}
  </p>
  <p>
    <a [routerLink]="['/forecast', condition.zip]">Show 5-day forecast for {{condition.data.name}}</a>
  </p>
</div>
<div>
  <img [alt]="iconAlt" [src]="icon">
</div>
