@if (forecast$ | async; as forecast) {
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{forecast.city.name}}</h3>

    </div>
    <ul class="list-group">
      @for (dailyForecast of forecast.list; track $index) {
      <li class="list-group-item">
        {{ (dailyForecast.dt * 1000) | date:'EEEE, MMM d'}}:
        {{dailyForecast.weather[0].main}}
        - Min: {{dailyForecast.temp.min | number:'.0-0'}}
        - Max: {{dailyForecast.temp.max | number:'.0-0'}}

        <img [alt]="dailyForecast.weather[0].description"
          [src]="weatherService.getWeatherIcon(dailyForecast.weather[0].id)" class="icon">
      </li>
      }
    </ul>
  </div>
</div>
}

<button class="btn btn-success" [routerLink]="'/'">
  < Back to main page </button>
